apiVersion: v1
kind: Service
metadata:
  name: todo-backend
  namespace: default
  labels:
    app: todo-backend
spec:
  type: ClusterIP
  selector:
    app: todo-backend
  ports:
    - port: 8000
      targetPort: 8000
      protocol: TCP
